.App {
  text-align: center;
}
.chatInput{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:3vh;
}
.chatForm{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.chatBox{
  outline:none;
  width:100%;
  height:100%;
  border-radius: 5px;
  margin:10px;
  margin-left:4px;
  margin-right:0;
  color:white;
  background-color: #2C2B2C;
  border:none;
}
.chatSubmit{
  outline:none;
  border:none;
  height:100%;
  background:#2A2E70;
}
.chatHistory{
  position:relative;
  background:#24222F;
  height:100vh;
  overflow-y:scroll;
}
.chatMessage{
  position: relative;
  width:50%;
  height:50px;
  border-radius: 10px;
  margin:10px;
  margin-bottom:20px;
  display:block;
  background:#008CFE;
  color:white;
}
.chatText{
  padding:5px;
  position: absolute;
  left:0;
  text-align: left;
}
.userMessage{
  margin-left:49%;
}